:root {
  --test-color: pink;
}
.test-div {
  width: calc(375px / 2);
  height: 100px;
  /* background-color: red; */
  margin: 5px;
}
.test-div:nth-child(1) {
  background-color: var(--test-color);
}
.test-div:nth-child(2) {
  border: 5px solid var(--test-color);
}
