:root {
  --test-color: pink;
}
.test-div {
  width: calc(375px / 2);
  height: 100px;
  /* background-color: red; */
  margin-bottom: 5px;
}
.test-div:nth-child(1) {
  position: relative;
  /* border: 1px solid var(--test-color); */
}
.test-div:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 200%;
  height: 200%;
  border: 1px solid var(--test-color);
  top: 0;
  left: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
}
.test-div:nth-child(2) {
  border: 1px solid var(--test-color);
}
.test-img-div {
  background: pink;
  height: 2000px;
}
